<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Penguin Profile</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <div class="profile-container">
    <% if (profile.image) { %>
      <img src="<%= profile.image %>" width="200" alt="Penguin">
    <% } %>

    <h1> <%= profile.name %></h1>
    <p>Age: <%= profile.age %></p>
    <p>Height: <%= profile.height %> cm</p>
    <p>Weight: <%= profile.weight %> kg</p>
    <p>Status: <strong><%= profile.currentJob === 'job seeker' ? 'Job Seeker' : 'Employed' %></strong></p>

    <% if (user && profile.owner.equals(user._id)) { %>
      <a href="/profiles/<%= profile._id %>/edit">
        <button>Edit Profile</button>
      </a>
    <% } %>
 

  </div>
</body>
</html>
