<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="gym-card">
  <img src="<%= crime.image %>" class="plan-img">

  <h2><%= crime.penguinName %></h2>
  <p><strong>Crime:</strong> <%= crime.crime %></p>
  <p><strong>Danger:</strong> <%= crime.dangerLevel %></p>
  <p><strong>Punishment:</strong> <%= crime.punishment %></p>

  <a href="/crimes/<%= crime._id %>/edit" class="btn mt-2">Edit</a>

  <form action="/crimes/<%= crime._id %>?_method=DELETE" method="POST">
    <button class="btn-danger">Delete</button>
  </form>
</div>

</body>
</html>